.tooltip-wrapper {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

#spanText {
  visibility: hidden;
  width: auto;
  font-size: 15px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 3px;
  position: absolute;
  z-index: 10;
  left: 115%;
}

#spanText::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

.tooltip-wrapper:hover #spanText {
  visibility: visible;
}