.tooltip-wrapper-right {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip-wrapper-right #spanText {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 110%;
}

.tooltip-wrapper-right #spanText::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}
.tooltip-wrapper-right:hover #spanText {
  visibility: visible;
}


/* left */
.tooltip-wrapper-left {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip-wrapper-left #spanText {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 10;
  top: -5px;
  right: 110%;
}

.tooltip-wrapper-left #spanText::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent black;
}

.tooltip-wrapper-left:hover #spanText {
  visibility: visible;
}

/* bottom  */
.tooltip-wrapper-bottom {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip-wrapper-bottom #spanText {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip-wrapper-bottom #spanText::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.tooltip-wrapper-bottom:hover #spanText {
  visibility: visible;
}

/* top */
.tooltip-wrapper-top {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip-wrapper-top #spanText {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip-wrapper-top #spanText::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip-wrapper-top:hover #spanText {
  visibility: visible;
}